<aside
  class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3  bg-glass fixed-start ms-4 ps"
  id="sidenav-main"
>
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true"
      id="iconSidenav"
    ></i>
    <a
      class="navbar-brand m-0"
      href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
      target="_blank"
    >
      <img
        class="navbar-brand-img h-100"
      />
      <span class="ms-6 font-weight-bold">Expense </span>
    </a>
  </div>
  <hr class="horizontal dark mt-0" />
  <div
    class="collapse navbar-collapse w-auto ps ps--active-y"
    id="sidenav-collapse-main"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link  b {% if request.path == '/user/expense_dashboard/' %} active{% endif %}" href="{% url 'expense_dashboard' %}">
        {% comment %} <a class="nav-link active" href="{% url "expense_dashboard" %}"> {% endcomment %}
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-tv-2 text-primary text-sm opacity-70"></i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  b {% if request.path == '/expense/list/' %} active{% endif %}" href="{% url 'expense_list' %}">

        {% comment %} <a class="nav-link" href="{% url "expense_list" %}"> {% endcomment %}
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"
            ></i>
          </div>
          <span class="nav-link-text ms-1">Expense Tables</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "chart" %}" class="nav-link" >
          <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          
            <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Chart</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "listgoal" %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-app text-info text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Goal</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "index" %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "expense_report" %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Report</span>
        </a>
      </li>
      <li class="nav-item mt-3">
        <h6
          class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6"
        >
          Account pages
        </h6>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "edit_profile" %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Profile</span>
        </a>
      </li>
      
    </ul>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 336px; right: 0px">
      <div
        class="ps__thumb-y"
        tabindex="0"
        style="top: 0px; height: 233px"
      ></div>
    </div>
  </div>
  
  <div class="ps__rail-x" style="left: 0px; bottom: 0px">
    
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; right: 0px">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
  </div>
</aside>